<h3>Mot de passe oublié</h3>

<div>
    Votre code de pour créer un nouveau mot de passe est <strong>{{ passwordForgottenCode.code }}</strong>
</div>

<div>
    Ce code est valable jusqu'au <strong>{{ passwordForgottenCode.expirationDate|date('Y-m-d H:i:s') }}</strong>
</div>