<h3>Bienvenue</h3>

<div>
    Votre code d'activation est <strong>{{ activationCode.code }}</strong>
</div>

<div>
    Ce code est valable jusqu'au <strong>{{ activationCode.expirationDate|date('Y-m-d H:i:s') }}</strong>
</div>